/* ====================
   Mobile
   ==================== */

/* General */

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  background: #f0f0f0;
  font-size: 16px;
  line-height: 1.5;
}

body {
  margin: 0;
}


/* Layout */

header {
  padding: 0 10px 20px;
}

section {
  padding: 20px 10px;
}


/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #8c8b8b;
  padding: 0 10px;
  font-size: 0.9em;
}

footer nav ul li {
  background: none;
}

footer nav ul li:not(.mobile-only) {
  display: none;
}


/* Typography */

h1, h2, h3 {
  text-align: center;
}

p {
  text-align: center;
}

a {
  color: rgb(50, 50, 50);
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
}

a[href^="mail"] {
  text-transform: none;
}

.section-title {
  font-size: 1em;
  font-weight: bolder;
  text-transform: uppercase;
}


/* Navigation */

nav ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav ul li {
  margin: 5px 0;
  padding: 10px;
  background: #fff;
  text-align: center;
}


/* Elements */

img {
  max-width: 90%;
  display: block;
  margin: 0 auto;
}


/* Portfolio */

.portfolio {
  background: #fff;
}


/* ====================
   Tablets
   ==================== */

@media screen and (min-width: 768px) {
  /* Layout */

  header {
    padding-bottom: 0;
  }


  /* Footer */

  footer nav ul li:not(.mobile-only) {
    display: inline-block;
  }


  /* Typography */

  .section-title {
    flex: 1 1 100%;
  }


  /* Navigation */

  nav ul {
    flex-direction: row;
    justify-content: center;
  }

  nav ul li {
    background: none;
    padding: 10px 20px;
  }


  /* About */

  .about {
    display: flex;
    align-items: center;
  }

  .about p {
    text-align: left;
    padding: 0 20px;
  }

  .about img {
    width: 40%;
    order: 1;
  }


  /* Portfolio */

  .portfolio {
    display: flex;
    flex-wrap: wrap;
  }

  .project {
    flex: 1 1 50%;
  }

  .project__description {
    padding: 0 10px;
  }


  /* Contact */

  .contact__pitch {
    width: 60%;
    margin: 0 auto;
  }


  /* Overrides */

  .mobile-only {
    display: none;
  }
}

/* ====================
   Desktop
   ==================== */

@media screen and (min-width: 1024px) {
  /* Typography */

  .section-title {
    padding-bottom: 20px;
  }


  /* Portfolio */

  .project {
    flex: 1 1 33%;
  }


  /* Contact */

  .contact__pitch {
    width: 45%;
  }
}